.rights-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background-color: #360B0D;
}

.rights-container h2 {
  font-family: Tahoma;
  color: aliceblue;
  font-size: 50px;
  margin: 15px;
  font-size: 0.8rem;
}