.rights-container {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  
}

.rights-container h2 {
  font-family: Tahoma;
  color: aliceblue;
  margin: 0;
  font-size: 0.8rem;
}

.imagem{
  width:1440px;
  height: auto;
  display:flex;
  position: fixed; 
  top: 10;         
  bottom: 10;
}